@font-face {
    font-family: brownRegular;
    src: url(./typo_brown/Brown-Regular.otf);
}
body{
  font-family: brownRegular;
}

.card {
  margin: 20px 15px;
  width: 30%;
  display: inline-block;
  line-height: 1.2;
}
.card-body {
    padding: 2px 16px;
}
.card-button {
  width: 100%;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid;
  font-size: 1em;
  font-weight: normal;
  height: 2.2em;
  margin-top: 10px;
}
.card-date{
  width: 25%;
  display: inline-block;
}
.card-content{
  width: 75%;
  display: inline-block;
  vertical-align: top;
}
.card-date p:first-child{
  letter-spacing: 1px;
  font-size: 1.65em;
  font-weight: bold;
}
.card-date p:last-child{
  font-size: 0.95em;
  letter-spacing: 0.5px;
}
.card-content p:first-child{
  font-size: 1.2em;
  font-weight: bold;
}

.card-content span{
  font-size: 0.85em;
    opacity: 0.7;
}
.card-image{
  opacity: 0.98;
  filter: contrast(90%);
  width:100%;
}
.card p{
  margin-bottom: 0;
}

/*BARRA DE NAVEGACION*/
.navbar ul {

    list-style-type: none;
    margin: 0;
     padding: 10px 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid white;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: inline-block;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 0.95em;
    letter-spacing: 0.05em;
}
.navbar li img {
    display: inline-block;
    padding: 8px;
    margin: 0 13px 0 84px;
}

.search-bar {
  position: absolute;
  bottom: 80px;
  width: 100%;

}

.search-bar input{
  display: block;
  width: 73%;
  margin: 0 auto;
  border-radius: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
  border: 0;
  height: 48px;
  padding-left: 20px;

  background-image: url(../assets/icons/search.svg);
  background-position: 99% 70%;
  background-repeat: no-repeat;
}


.header-bg {
  width: 100%;
  height: 550px;
}
/*
@media (max-width: 600px) {
  .header-bg {
    width: 100%;
    height: 250px;
  }
}*/