.navbar {
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 60px;
    z-index: 2;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid white;
  }
  li {
    margin-bottom: 0;
    float: right;
    &:hover {
      cursor: pointer;
    }
    span {
      margin-bottom: 11px;
      display: inline-block;
      padding: 8px;
      color: white;
      text-decoration: none;
      font-size: $size-normal;
      letter-spacing: 0.05em;
    }
    img {
      display: inline-block;
      padding: 8px;
      margin: 0 13px 0 84px;
    }
  }
}
