.search-result-header{
  margin: 20px 0px;
  font-size: $size-h2;
  padding: 15px 0;
  border-bottom: 2px solid;
  button {
    margin-left: 5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px;
    border: none;
    font-size: 1.6rem;
    font-weight: normal;
    border-color:$primary-color;
    color:$primary-color;

    &:hover {
      background: $primary-color;
      color: white;
    }
  }
}