// COlors
$primary-color: #303030;

// Text sizes
$size-h1: 4.8rem;
$size-h2: 1.9rem;
$size-h3: 1.6rem;
$size-normal: 1.4rem;
$size-description: 1.2rem;
$size-date: 2.4rem;



@font-face {
  font-family: BrownRegular;
  src: url(./typo_brown/Brown-Regular.otf);
}
@font-face {
    font-family: BrownRegular;
    src: url(./typo_brown/Brown-Bold.otf);
    font-weight: bold;
}
html{
  font-family: BrownRegular;
  font-size: 10px;

}
body{
  font-size: $size-normal;
  line-height: 1.6;
  font-weight: 400;
}
.clearfix{
  clear:both;
}




@import "partials/cards";
@import "partials/dropdown";
@import "partials/header";
@import "partials/modal";
@import "partials/navbar";
@import "partials/searchbar";
@import "partials/search_result_header";
