@font-face {
    font-family: brownRegular;
    src: url(./typo_brown/Brown-Regular.otf);
}
@font-face {
    font-family: brownLight;
    src: url(./typo_brown/Brown-Light.otf);
}
body{
  font-family: brownLight;
}
.clearfix{
  clear:both;
}
$primary-color: #303030;

@import "partials/cards";
@import "partials/dropdown";
@import "partials/header";
@import "partials/modal";
@import "partials/navbar";
@import "partials/searchbar";
@import "partials/search_result_header";
